body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background: linear-gradient(to right, #ff6a00, #ee0979);
  padding: 8px;
  color: #fff;
}

h1 {
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 50px;
}

input[type="number"] {
  font-size: 1.2em;
  padding: 10px 10px;
  margin: 5px;
  max-width: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

input[type="number"]:hover,
input[type="number"]:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

label {
  font-size: 1.2em;
  margin-right: 5px;
}

#timer {
  font-size: 3em;
  font-weight: 400;
  margin: 20px 0;
  color: #fff;
}

.primary-button {
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
  border: 2px solid #ffffff;
}

.primary-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.primary-button:active {
  background-color: rgba(255, 255, 255, 0.5);
}

button {
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

#dosage {
  font-size: 1.6em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-checkbox input[type="checkbox"] {
  display: none;
}

.button-checkbox label {
  display: inline-block;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.2s;
}

.button-checkbox input[type="checkbox"]:checked + label {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.button-checkbox label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.checkbox-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.table-container {
  max-width: 100%;
  margin: 40px auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-header {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: left;
  font-weight: bold;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

th {
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

td {
  color: #ffffff;
}

.last-column {
  width: 16px;
  text-align: center;
  white-space: nowrap;
}

.delete-button {
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
}

.delete-button:hover {
  color: #ffffff;
}
